* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  background:
    radial-gradient(circle at 20% 20%, #4f46e5, transparent 30%),
    radial-gradient(circle at 80% 30%, #9333ea, transparent 30%),
    radial-gradient(circle at 50% 80%, #06b6d4, transparent 25%),
    linear-gradient(135deg, #020617, #0f172a);
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 120px 120px;
  background-position: 0 0, 60px 60px;
  opacity: 0.4;
  animation: twinkle 8s infinite linear;
}

@keyframes twinkle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

.container {
  width: 420px;
  padding: 25px;

  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.08);

  border: 1px solid rgba(255,255,255,0.15);

  border-radius: 20px;

  box-shadow:
    0 8px 32px rgba(0,0,0,0.3),
    0 0 30px rgba(147,51,234,0.2);

  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 12px;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-weight: bold;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

button:hover {
  transform: translateY(-3px) scale(1.05);

  box-shadow:
    0 0 15px rgba(99,102,241,0.7),
    0 0 30px rgba(99,102,241,0.4);
}

#addBtn {
  color: white;
  background: linear-gradient(135deg, #6366f1, #9333ea);
}

.filters {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-btn {
  background: rgba(255,255,255,0.15);
  color: white;
}

.filter-btn.active {
  background: linear-gradient(
    135deg,
    #6366f1,
    #9333ea
  );
}

ul {
  list-style: none;
}

li {
  margin-bottom: 12px;

  background: rgba(255,255,255,0.1);

  border-radius: 12px;

  padding: 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: slideIn .3s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

li.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.task-actions {
  display: flex;
  gap: 5px;
}

.edit-btn {
  background: #f59e0b;
  color: white;
}

.delete-btn {
  background: #ef4444;
  color: white;
}

.complete-btn {
  background: #10b981;
  color: white;
}

.task-text {
  cursor: pointer;
  flex: 1;
}